
head{
    display: flex;
    align-items: center;
    margin: 0px;
}
.botao{
margin-top: 50%;
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
}
.start{
    background-color: transparent;
    font-size: 26px;
    width: 52vh;
    padding: 1em;
    color: #000000;
    border: 2px solid rgba(107, 0, 0, 0.63);
    border-radius: 15px;
    cursor:pointer;
    position: fixed;
}
.start:hover{
    color: orange;
	padding: 1.7em;
	transition: 1s;
	border-color: orange;
}
.tema1{
    font-size: 26px;
    color: whitesmoke;
    background-color: rgba(5, 78, 142, 0.71);
    margin: 0px;
    height: 50vh;
    border-radius: 0 0 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.texto2{
    font-size: 26px;
    font-weight: 700;
}

@media screen and (max-width: 1024px){
    .start{
        font-size: 11px;
        width: 30vh;
    }
    .tema1{
        width: 100%;
        position: absolute;
    }
    .texto2{
        margin-top: 20%;
    }
    .imagens{
        top: 150px;
        position: relative;
        display: flex;
        justify-content: space-around;
    }
    .img1{

        width: 100px;
        height: 100px;
        background-image: url("img/cartao-branco.webp");
        border-radius: 15px;
    }
    .img2{
 
        width: 100px;
        height: 100px;
        background-image: url("img/tom-grunge-azul.jpg");
        border-radius: 15px;
    }
    .img3{
 
        width: 100px;
        height: 100px;
        background-image: url("img/pintura-fluida.webp");
        border-radius: 15px;
    }
    .carta-branca{
        font-size: 26px;
        color: whitesmoke;
        background-image: url("img/cartao-branco.webp");
        margin: 0px;
        height: 50vh;
        border-radius: 0 0 20px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .grunge-azul{
      
        background-image: url("img/tom-grunge-azul.jpg");
        margin: 0px;
        height: 50vh;
        border-radius: 0 0 20px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .pintura-fluida{
    
        background-image: url("img/pintura-fluida.webp");
        margin: 0px;
        height: 50vh;
        border-radius: 0 0 20px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .ultimo-titulo{

    font-size: 34px;
    text-align: center;
    background-color: aliceblue;
    margin: -30% 0;
    border-radius: 15px;
    }
    .fimB{
        font-size: 60px;
        color: white;
    }
    .fimW{
        font-size: 60px;
    }
}
